<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
#bg{
    background-repeat: no-repeat;

    background-size: cover;
    background-attachment: fixed;
}
.shape{
    height:700px;
    width:700px;
    font-size: 25px;
    font-family: cursive;
    color:rgb(92, 68, 115);
}
    </style>
</head>
<body id="bg"style="background-image:url('{%static 'img/back.jpg'%}');">
<h1 style="color:rgb(9, 9, 47);font-size: 50px;">ABOUT US</h1>
<div class="shape">
We provide all you need for a perfect party whatever the size, theme or location. From the importance of delectable catering, perfect venue sourcing or beautiful marquees, fabulous props, creative floral displays, stunning lighting, music and entertainment.

    ​
    
    With meticulous attention to detail, whatever the size or budget.
    
    Providing you and your guests a unique experience all over Karnataka.
    
</body>
</html>