<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            color:#2a1247;
            font-size: 26px;
            font-family: cursive;
        }
        h2{
            color:#2a1247;
            font-size: 26px;
            font-family: cursive;cd
        }
    </style>
</head>
<body style="background-color: rgb(147, 172, 205);">
    <br>
    <br>
    <br>
    <br>
    <h2>New Booking Received</h2>
    <p>A new booking has been received:</p>
    <p><strong> Customer_id is :  {{customer_id}}</strong></p>
    <p>Customer name  :  {{customername}}</p>
    <p>Phone number  :  {{phone}}</p>
    <p>Email  :  {{email}}</p>
    <p>Event date  :  {{eventdate}}</p>
    <p>Event   :  {{eventname}}</p>
    <p>Event venue  :  {{eventvenue}}</p>
    <p>Pincode  :  {{pincode}}</p>
    <p>City  :  {{eventcity}}</p>
    <p>Quotation  :  {{quotation}}</p>
    <p>Advance  :  {{advance}}</p>
    <p>Balance  :  {{balance}}</p>
    <p>Desciption regarding the event  :  {{description}}</p>
    </body>
    </html>