<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            color:rgb(39, 11, 39);
            font-size: 24px;
            font-family: cursive;
        }
        h2{
            color:rgb(39, 11, 39);
            font-size: 24px;
            font-family: cursive;
        }
    </style>
</head>
<body style="background-color: rgb(160, 156, 186);">
    <br>
    <br>
    <br>
    <br>
    <center><p>Congratulations your booking is confirmed...!!<br>Thank you so much for choosing us!!<br>Here's your booking details</p></center>
    <h2>Customer Details Submitted</h2>
    <p><strong>Your unique Customer_id is :  {{customer_id}}</strong></p>
    <p>Customer name  :  {{customername}}</p>
    <p>Phone number  :  {{phone}}</p>
    <p>Email  :  {{email}}</p>
    <p>Event date  :  {{eventdate}}</p>
    <p>Event   :  {{eventname}}</p>
    <p>Event venue  :  {{eventvenue}}</p>
    <p>Pincode  :  {{pincode}}</p>
    <p>City  :  {{eventcity}}</p>
    <p>Quotation  :  {{quotation}}</p>
    <p>Advance  :  {{advance}}</p>
    <p>Balance  :  {{balance}}</p>
    <p>Desciption regarding the event  :  {{description}}</p>
    <p><strong>Note down your Customer_id it is required for further processes</strong></p>
    <p>Thank you for choosing us.</p>
    
    <p>Best regards,<br>
    PR EVENTS</p>
    </body>
    </html>