<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Details</title>
</head>
<body>
    <a href="{% url 'customer_details' customerdata.customer_id %}">Customer Details</a>
    <ul>
        <li><strong>Customer_id:</strong> {{ customerdata.customer_id }}</li>
        <li><strong>Name:</strong> {{ customerdata.customername }}</li>
        
        <li><strong>Quotation:</strong> {{ customerdata.quotation}}</li>
        <li><strong>Advance:</strong> {{ customerdata.advance }}</li>
        <li><strong>Balance:</strong> {{ customerdata.balance }}</li>
        <!-- Add more fields as needed -->
    </ul>
</body>
</html>
