<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(255, 255, 255);">
    <br>
    <br>
    <br>
    <br>
    <center><p style="color:rgb(165, 49, 140);font-size:80px;"></p>Congratulations your booking is confirmed...!!<br>Thank you so much for choosing us!!<br>Here's your booking details</p></center>
    <h2>Customer Details Submitted</h2>
    <p>Customer id  :  {{id}}</p>
    <p>Customer name  :  {{customername}}</p>
    <p>Phone number  :  {{phone}}</p>
    <p>Email  :  {{email}}</p>
   
    <p>Quotation  :  {{quotation}}</p>
    <p>Advance  :  {{advance}}</p>
    <p>Balance  :  {{balance}}</p>
    </body>
    </html>